<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TerminPlaner</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<main class="container">
    <div th:if="${success}" class="alert success" style="margin-bottom: 15px;">
        <p th:text="${success}"></p>
    </div>
    <div th:if="${error}" class="alert error" style="margin-bottom: 15px;">
        <p th:text="${error}" style="color: brown; font-weight: 700;"></p>
    </div>
    <section class="card">
        <h1>Willkommen zum TerminPlaner</h1>
        <p>Verwalten Sie Ihre Termine effizient und einfach.</p><br>
        <p>Reservationen können zwischen 09:00-17:00 vereinbart werden.</p><br>
        <a href="/reservations/create" class="btn">Raum reservieren</a>
    </section>

    <section id="reservation-list" style="margin-top:20px;">
        <h2 style="margin:0 0 10px 0;">Vorhandene Reservationen</h2>

        <!-- Scroll-Container -->
        <div id="resScroll" style="max-height:360px; overflow-y:auto; border-radius:12px;">

            <table id="reservationsTable" style="width:100%; border-collapse:collapse;">
                <thead id="resHead" style="display:none; position:sticky; top:0; background:#1b2230;">
                <tr style="text-align:left;">
                    <th style="padding:6px 12px; border-bottom:1px solid #555;">Datum</th>
                    <th style="padding:6px 12px; border-bottom:1px solid #555;">Von</th>
                    <th style="padding:6px 12px; border-bottom:1px solid #555;">Bis</th>
                    <th style="padding:6px 12px; border-bottom:1px solid #555;">Raum</th>
                </tr>
                </thead>
                <tbody id="reservations"></tbody>
            </table>


            <div id="scrollSentinel" style="height:1px;"></div>
        </div>

        <div id="emptyMsg" style="display:none; padding:8px 0;">Derzeit gibt es keine Reservationen</div>
        <div id="loading" style="display:none; padding:8px 0;">Laden...</div>
    </section>


    <div class="card">
        <h2>Reservation suchen</h2>
        <form action="/check-code" method="post">
            <label for="code">Reservation Code</label>
            <input type="text" id="code" name="code" placeholder="z. B. ABCD1234" required>
            <div class="actions"><button type="submit">Reservation suchen</button></div>
        </form>
    </div>
</main>

</body>

<script th:src="@{/js/reservation-list.js}"></script>
</html>


