<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TerminPlaner</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<main class="container">
    <div th:if="${success}" class="alert success" style="margin-bottom: 15px;">
        <p th:text="${success}"></p>
    </div>
    <div th:if="${error}" class="alert error" style="margin-bottom: 15px;">
        <p th:text="${error}" style="color: brown; font-weight: 700;"></p>
    </div>
    <section class="card">
        <h1>Willkommen zum TerminPlaner</h1>
        <p>Verwalten Sie Ihre Termine effizient und einfach.</p><br>
        <a href="/reservations/create" class="btn">Raum reservieren</a>
    </section>

    <div class="card">
        <h2>Reservation suchen</h2>
        <form action="/check-code" method="post">
            <label for="code">Reservation Code</label>
            <input type="text" id="code" name="code" placeholder="z. B. ABCD1234" required>
            <div class="actions"><button type="submit">Reservation suchen</button></div>
        </form>
    </div>
</main>

</body>
</html>


